[user]
	name = Guewen Baconnier
	email = guewen@gmail.com
	signingkey = ~/.ssh/id_ed25519
[alias]
  co = checkout
  ui = auto
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pushf = push --force-with-lease
  recent-branches = "!git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)' | nl -w2 -s'> ' "
  r = "!f() { if [ -z \"$1\" ]; then git recent-branches; else git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)' | awk -v var=\"$1\" 'NR==var' | xargs git checkout ; fi ; }; f"
  go = "!git for-each-ref --count=50 --sort=-committerdate refs/heads/ --format='%(refname:short)' | fzf | xargs -o git checkout"
  f = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git fixup"
  fixup = "!f() { \
           if [ -z \"$1\" ]; then \
             git f; \
           else \
             git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1); \
             COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && git rebase -i --autosquash $COMMIT~1 ; \
           fi ; }; f"
  yank = "!f() { git log -n 50 --pretty=format:'%h %s' --no-merges \"$@\" | fzf | cut -c -12 | xargs wl-copy ; }; f"
  y = yank
  choose-rebase = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git rebase -i --autosquash "
  cr = choose-rebase

[color]
	diff = auto
	status = auto
	branch = auto
[merge]
  tool = vimdiff
  conflictstyle = diff3
[rebase]
  autosquash = true
[mergetool]
  prompt = false
[core]
	excludesfile = ~/.gitignore
  #editor = emacsclient -c
  editor = nvim
	autocrlf = input
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[github]
	user = guewen
	token = 
[push]
	default = simple
[rerere]
	enabled = true
[diff]
	algorithm = histogram

; [diff "sops"]
;         textconv = sops-git-diff-helper

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
